{% extends "blog/base.html" %}
{% block content %}
    {% if objects.0 == null %}
    <article class="media content-section">
      <div class="media-body">
        <h2><a class="article-title" href="#">Nothing has been uploaded :(</a></h2>
        <p class="article-content">Nothing has been created yet</p>
      </div>
    </article>
    {% else %}
    {% for object in object_list %}
        <article class="media content-section">
          <img class="rounded-circle article-image" src="{{object.author.profile.profile_image.url}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'sheet-detail' object.id%}">{{ object.title }}</a></h2>
            <p class="article-content">{{ object.content }}</p>
          </div>
        </article>

        {% endfor %}
        {% if is_paginated %}

          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
          {% endif %}
{% endif %}
{% endblock content %}
